<DOCTYPE html ng-app>
<html>

	<head>    
		<!-- Font -->
		<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
		<!-- Bootstrap CSS -->
		<link rel='stylesheet' type='text/css' href='../bower_components/bootstrap/dist/css/bootstrap.min.css' />
		<!-- My css -->
		<link rel='stylesheet' type='text/css' href='../styles/lists.css' />
	</head>

	<body>
		<!-- NAVBAR -->
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">Money Stack</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#">Link</a></li>
		        <li><a href="#">Link</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#">Resume</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<div class='row'>
			<div class='col-xs-2 col-xs-offset-1' ng-controller='ListController'>
				<ul class="nav nav-tabs" role="tablist">
				  <li id='incomeTab' class="active" ng-click='toggleList();editMode = false;'><a href="#">Incomes</a></li>
				  <li id='expenseTab' ng-click='toggleList();editMode = false;'><a href="#">Expenses</a></li>
				</ul>
				<div id='incomes' ng-show='showIncomes'>
					<div class='listContent'>
						<div ng-repeat='item in incomes' ng-class='{"list-item-selected": selectedIndex == $index}' class='list-item' ng-click='selectItem($index)'>
							<span class='list-item-name'>{{ item.name }}</span>
							<span class='list-item-amount'>${{ item.amount }}</span>
						</div>
						<div class='editBox' ng-show='editMode'>
							<input type="text" class="form-control" id="incomeName" placeholder="Name">
							<input type="text" class="form-control" id="incomeAmount" placeholder="$">
						</div>
					</div>
				</div>
				<div id='expenses' ng-show='showExpenses'>
					<div class='listContent'>
						<div ng-repeat='item in expenses' ng-class='{"list-item-selected": selectedIndex == $index}' class='list-item' ng-click='selectItem($index)'>
							<span class='list-item-name'>{{ item.name }}</span>
							<span class='list-item-amount'>${{ item.amount }}</span>
						</div>
						<div class='editBox' ng-show='editMode'>
							<input type="text" class="form-control" id="expenseName" placeholder="Name">
							<input type="text" class="form-control" id="expenseAmount" placeholder="$">
						</div>
					</div>
				</div>
				<div id='buttonContainer'>
					<button ng-click='editMode = true' class='btn btn-primary list-btn-right' ng-show='!editMode'>ADD</button>
					<button ng-click='deleteItem();' class='btn btn-primary list-btn-right' ng-show='!editMode'>DELETE</button>
					<button ng-click='saveItem()' class='btn btn-primary list-btn-right' ng-show='editMode'>SAVE</button>
					<button ng-click='editMode = false' class='btn btn-primary list-btn-right' ng-show='editMode'>CANCEL</button>
				</div>
			</div>
			<div id='graphContainer' class='col-xs-8' style='height:500px;'></div>
		</div>

	<!-- jQuery -->
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<!-- AngularJS -->
	<script src="../bower_components/angular/angular.min.js"></script>
	<!-- Bootstrap Javascript -->
	<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- High charts -->
	<script src="../tools/highcharts/js/highcharts.js"></script>
	<script src="../tools/highcharts/js/modules/exporting.js"></script>

	<!-- My controllers -->
	<script src='../controllers/ListController.js'></script>
	<script src='../controllers/GraphController.js'></script>
	</body>

</html>