.btn{
	border-radius: 0;
	margin-top: 10px;
}
.list-btn-right{
	float:right;
	margin-left:5px;
}

.list-btn-left{
	float:left;
	margin-right:5px;
}

.listContent{
	width:100%;
	height:auto;
	min-height: 34px;
	background-color: #efeded;
}

.form-control{
	border-radius: 0;
}

.list-item{
	font-weight: bold;
	padding:5px 15px;
}

.list-item:hover{
	background-color: #d6d4d4;
}

.list-item-selected{
	background-color: #7CB5EC;
	color:white;
}

.list-item-selected:hover{
	background-color: #7CB5EC;
}

.list-item-name{

}

.list-item-amount{
	float:right;
}
